body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

header, main {
    margin: 120px 140px;
}




/* main --> newsletter styles */
.newsletter {
    display: grid;
    justify-content: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}

.newsletter img {
    margin-top: 80px;
    width: 150px;
    height: 150px;
}

.newsletter h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
}

.newsletter p {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 32px;
}

.newsletter .center {
    width: 900px;
    margin-bottom: 45px;
}

.newsletter input {
    color: #0702114d;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    border-radius: 50px 0 0 50px;
    padding: 25px 250px 25px 30px;
    margin-right: 0;
}

.newsletter button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 24px 56px;
    margin-left: 0;
    margin-bottom: 80px;
}

.newsletter .bottom {
    font-size: 0;
}

/* footer styles */
footer {
    margin-top: 120px;
    background-color: #070211;
    display: grid;
    padding: 120px 140px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500px;
}

footer hr {
    border: 1px solid #ffffff26;;
    margin: 50px 0;
}

footer .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .top-left {
    width: 375px;
    line-height: 40px;
}

footer .top-right {
    margin-right: 130px;
    line-height: 40px;
}

footer > .top img {
    margin-right: 10px;
}

footer .center {
    display: flex;
    justify-content: center;
}

.center a{
    height: 65px;
    width: 65px;
    margin: 0 24px;
}

footer .bottom {
    display: flex;
    justify-content: space-between;
}