header {
    margin-top: 50px;
    height: 550px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgb(7, 2, 17) 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
    background-size: cover;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
}

.banner {
    margin-top: 170px;
    width: 630px;
    text-align: center;
}

.banner h4 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    font-family: Merriweather;
    margin-bottom: 16px;
}

.banner h1 {
    margin: 0;
    color: #FFF;
    font-family: Merriweather;
    font-size: 70px;
    font-weight: 900;
    line-height: 95px;
}