.best-gift {
    display: grid;
    justify-content: left;
    margin-bottom: 120px;
}

.best-gift .top > h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.best-gift .top > h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    margin-top: 16px;
}

.best-gift .top > p {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-bottom: 48px;
}

.best-gift .center, .best-gift .bottom {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.best-gift img {
    width: 400px;
    border-radius: 16px;
}

.best-gift img:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 7px #aeff00;
}

.best-gift .center {
    margin-bottom: 24px;
}