.holiday {
    margin-bottom: 120px;
    text-align: center;
}

.holiday .top {
    margin: 0 126px;
}

.holiday .top h5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday .top h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.holiday .top p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
}

.holiday .bottom {
    display: flex;
    box-sizing: border-box;
    justify-content: right;
    background-image: url("../resources/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 16px 0px 16px 16px;
    position: relative;
}

.holiday .bottom #left {
    width: 700px;
    height: 600px;
    position: absolute;
    right: 525px;
    top: 40px;
}

.holiday .bottom #center {
    width: 287px;
    height: 287px;
    position: absolute;
    left: 665px;
    top: 95px;
}

.holiday .bottom #right {
    width: 429px;
    height: 433px;
    margin-bottom: 228.5px;
}