.join-now {
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-bottom: 120px;
}

.join-now > .top {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.join-now > .top span {
    color: #F00;
}

.join-now button {
    padding: 16px 32px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background: #F00;
}